<div class="section">
  <h1 class="header center">Welcome</h1>

  <!--   Icon Section   -->
  <div class="row">
    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center light-blue-text"><i class="fa fa-map-marker"></i></h2>
        <h5 class="center">Box 1</h5>
        <p class="light">Text text text text text text text text text text text text text text text text text</p>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center light-blue-text"><i class="fa fa-map-o"></i></h2>
        <h5 class="center">Box 2</h5>
        <p class="light">Text text text text text text text text text text text text text text text text text</p>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center light-blue-text"><i class="fa fa-share-square-o"></i></h2>
        <h5 class="center">Share</h5>
        <p class="light">Text text text text text text text text text text text text text text text text text</p>
      </div>
    </div>
  </div>

</div>
