<div class="section">
  <h1 class="header center">Welcome to LocMap</h1>
  <div class="row center">
    <h5 class="header col s12 light">A service to create and share location based information and stories.</h5>
  </div>
  <div ng-if="!currentUser" class="row center">
    <a href="#/sign-up" id="download-button" class="btn-large waves-effect waves-light blue lighten-1">Sign Up</a>
  </div>

  <!--   Icon Section   -->
  <div class="row">
    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center light-blue-text"><i class="fa fa-map-marker"></i></h2>
        <h5 class="center">Locations</h5>
        <p class="light center">Mark your favorite locations!</p>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center light-blue-text"><i class="fa fa-map-o"></i></h2>
        <h5 class="center">Collections</h5>
        <p class="light center">Group your locations to show them on the map.</p>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center light-blue-text"><i class="fa fa-share-square-o"></i></h2>
        <h5 class="center">Share</h5>
        <p class="light center">Share your locations and collections easily!</p>
      </div>
    </div>
  </div>

</div>
