<nav class="blue-grey darken-4" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="#/" class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
      <li ng-if="!currentUser"><a href="#/sign-up">Register</a></li>
      <li ng-if="!currentUser"><a href="#/sign-in">Log In</a></li>
      <li ng-if="currentUser"><a href="#/locations">Locations</a></li>
      <li ng-if="currentUser"><a href="" ng-click="signOut()">Log Out</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li ng-if="!currentUser"><a href="#/sign-up">Sign Up</a></li>
      <li ng-if="!currentUser"><a href="#/sign-in">Sign In</a></li>
      <li ng-if="currentUser"><a href="#/locations">Locations</a></li>
      <li ng-if="currentUser"><a href="" ng-click="signOut()">Log Out</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>

<div class="container" ui-view></div>
