<div class="section">
  <div class="row">
    <div class="col s10 reset-padding">
      <h4>Locations</h4>
    </div>
    <div class="col s2">
      <a class="btn-floating right btn-large waves-effect waves-light green" href="#/new-location"><i class="material-icons">add</i></a>
    </div>
  </div>

  <div class="row">
    <ul class="collection">
      <li class="collection-item row" ng-repeat="location in locations">
        <div class="col s9">
          <a ng-href="#/locations/{{location._id}}">{{location.title}}</a>
        </div>
        <div class="col s3">
          <a style="margin-left: 8px" class="btn-floating right waves-effect waves-light red" ng-click="deleteLocation(location._id)"><i class="material-icons">delete</i></a>
          <a href="#/edit-location/{{location._id}}" class="btn-floating right waves-effect waves-light blue"><i class="material-icons">edit</i></a>
        </div>
      </li>
      <li class="collection-item" ng-if="locations.length == 0">
        You haven't created any locations!
      </li>
    </ul>
  </div>
</div>
