<div class="section">
  <div class="row">
    <h4>Log In</h4>
  </div>

  <div class="row">
    <form ng-submit="signIn()">
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" ng-model="user.email">
          <label for="email">Email</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate" ng-model="user.password">
          <label for="password">Password</label>
        </div>
      </div>

      <button class="btn waves-effect waves-light light-blue" type="submit" name="action">Log In
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</div>
