<div class="row section">
  <form ng-submit="signUp()">
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate" ng-model="user.email">
        <label for="email">Email</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="username" type="text" class="validate" ng-model="user.username">
        <label for="email">Username</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate" ng-model="user.password">
        <label for="password">Password</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input id="password-repeat" type="password" class="validate" ng-model="user.password_repeat">
        <label for="password-repeat">Repeat password</label>
      </div>
    </div>

    <button class="btn waves-effect waves-light light-blue" type="submit" name="action">Register
      <i class="material-icons right">send</i>
    </button>
  </form>
</div>
